<div class="footer">
    <div class="topFooter">
        <div class="topRightFooter">
            <h3>لینک ها</h3>
            <h6><a href="">درباره ما</a></h6>
            <h6><a href="">تماس با ما</a></h6>
        </div>
        <div class="topCenterFooter">
            <h3>تماس با ما</h3>
            <h6>آدرس:</h6>
            <h6>تلفن:</h6>
            <h6>دفاتر دیگر:</h6>

        </div>
        <div class="topLeftFooter">
        </div>
     </div>
    <div class="bottomFooter">
        <p>کلیه حقوق متعلق به این سایت می باشد. | طراحی و توسعه توسط ....</p>
    </div>
</div>