.menuBox {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px;
    /*background-color: rgba(1, 1, 1, 0.78);*/
    font-family: iransans;
    color: rgba(64,64,64,0.78);
}

.menuBox > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menuBox > ul > li {
    float: right;
    width: 100px;
    height: inherit;
    text-align: center;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}
.menuBox > ul > li:hover {
    background-color: rgba(208,207,212,0.1);
    color: #000;
    font-weight: bold;
}
.active{
    font-weight: bold;
}