.picBox{
    width: calc(25vw - 35px);
    height: 40vh;
    margin: 10px;

}
.pic{
    border-radius: 20px;
    overflow: hidden;
}
a{
    color: rgba(42,21,29,0.7);
}
h3,h6{
    margin: 0;
    font-family: iransans;
    font-size: .8em;
    text-align:justify ;
}