*{
    direction: rtl;
    box-sizing: border-box;
}
body{
    margin: 0;
}
@font-face {
    font-family: iransans;
    src: url("assets/fonts/iransans/IRANSansWeb.ttf");
}
a{
    text-decoration: none;
}